doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rokkitt' type='text/css')

    script(src='/components/jquery/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/zoomooz/jquery.zoomooz.min.js')

    //script(src='/javascripts/moment.min.js')
  body
    block content

  script(src='/javascripts/tracker-application.js')
