doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rokkitt' type='text/css')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/tracker.js')
  body
    block content
